.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
@font-face {
  font-family: Cinzel;
  src: url(./Cinzel-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./Montserrat-VariableFont_wght.ttf);
}
a{
  text-decoration: none;
  color: white;
}
p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  color: white;
}
.header {
  display: flex;
  align-items: center;
  background-color: #141a36;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #5267ca;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.nav_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.n_logo{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
  border-right: 1px solid #5267ca;
}
.m_logo{
  width: 40px;
}
.nav{
  padding: 0px 10px;
}
.nav a{
  font-size: 14px;
  font-weight: 600;
  padding: 0 5px;
}
.connect_wl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #5267ca;
  padding: 5px 12px;
  cursor: pointer;
}
.connect_wl svg{
  width: 28px;
  fill: #5267ca;
}
footer{
  background-color: #141a36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.join_lnk{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.join_lnk a img{
  width: 20px;
}
.info_2{
  padding: 0 20px;
}
.navbar__menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.navbar__menu span{
  height: 3px;
  width: 30px;
  display: block;
  background-color: #5267ca;
  border-radius: 10px;
}
.navbar__menu:hover{
  cursor: pointer;
}
.wallet{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu__list{
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 0;
  background-color: rgba(82, 103, 202, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  /* justify-content: end; */
  align-items: end;
  flex-direction: column;
  gap: 15px;
  font-family: Montserrat;
  padding: 20px;
}
.menu__list a:hover{
  margin-right: 5px ;
}
.Modal{
  background-color: #141a36;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 85px;
  right: 0;
  z-index: 9;
  width: 250px;
  padding: 20px 10px 0;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
  gap: 10px;
}
.Modal svg{
  width: 25px;
  height: 25px;
}
.status{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.info{
  display: none;
}
.warning{
  display: none;
}
.info path, .info circle{
  stroke: #5267ca;
}
.warning path, .warning circle{
  stroke: #5267ca;
}
.t_status{
  background-color: #5267ca;
  width: 100%;
  height: 5px;
  animation: status_bar 5s linear forwards;
}
@keyframes status_bar {
  from {width: 100%;}
  to {width: 0%;}
}
@media (max-width: 900px){
  .nav{
    display: none !important;
  }
  .navbar__menu{
    display: flex;
  }
  .connect_wl p{
    display: none;
  }
  .join_lnk {
    width: 30% !important;
}
}